*{
    margin: 0;
    padding: 0;
}
.section_shadow{ 
    border: 0px solid red;
    box-shadow: -10px -10px 30px 4px rgba(250, 250, 250, 0.1), 10px 10px 30px 4px rgba(54, 237, 17, 0.25);
}

.d_none{
    display: none;
}


.box{
    position: relative;
    width: 40vh;
    height: 43vh;
    margin: auto;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -10px -10px 30px 4px rgba(250, 250, 250, 0.1), 10px 10px 30px 4px rgba(3, 247, 227, 0.25);

}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 40vh;
    height: 43vh;
    background: linear-gradient(0deg,transparent, transparent,#45f3ff,#45f3ff,#45f3ff);
    /* z-index: 1; */
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 40vh;
    height: 43vh;
    background: linear-gradient(0deg,transparent, transparent,#FCA311,#FCA311,#FCA311);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 40vh;
    height: 43vh;
    background: linear-gradient(0deg,transparent, transparent,#27ff27,#6ff53a,#32fc50);
    /* z-index: 1; */
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 40vh;
    height: 43vh;
    background: linear-gradient(0deg,transparent, transparent,#27ff27,#6ff53a,#32fc50);
    /* z-index: 1; */
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}



@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box form {
    position: absolute;
    inset:4px;
    background: #222;   
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

/* scroll scnaqp align fro slider section */

.slide_sec{
    background: url("image/1b.png");
    width: 100%;
    height: auto;
    border: 0px solid red;
    background-size: cover  ;
}
.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}



label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  /* Form */
  .form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }